[Unit]
Description=Doomsday Option Trading Service
After=network.target

[Service]
Type=simple
User=trader
Group=trader
WorkingDirectory=/home/options_trading
Environment=PYTHONPATH=/home/options_trading
ExecStart=/home/options_trading/venv/bin/python -m scripts.main
Restart=on-failure
RestartSec=10
MemoryLimit=500M
TasksMax=100
LimitNOFILE=1024
NoNewPrivileges=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target